<h1> <form action="/pirates" method="post">
  <p>Pirate Name:<input type="text" name="pirate[name]" placeholder="Pirate Name"</p>
  <p>Pirate Weight:<input type="text" name="pirate[weight]" placeholder="Pirate weight"</p>
  <p>Pirate Height:<input type="text" name="pirate[height]" placeholder="Pirate height"</p>
  <p>Ship's Name:<input id="ship_name_1" type="text" name="pirate[ships][][name]" placeholder="Ship Name"</p>
  <p>Ship's Type:<input id="ship_type_1"type="text" name="pirate[ships][][type]" placeholder="Ship Type"</p>
  <p>Ship's Booty:<input id="ship_booty_1" type="text" name="pirate[ships][][booty]" placeholder="Ship Booty"</p>
  <p>Ship's Name:<input id="ship_name_2" type="text" name="pirate[ships][][name]" placeholder="Ship Name"</p>
  <p>Ship's Type:<input id="ship_type_2" type="text" name="pirate[ships][][type]" placeholder="Ship Type"</p>
  <p>Ship's Booty:<input id="ship_booty_2" type="text" name="pirate[ships][][booty]" placeholder="Ship Booty"</p>
  <button type="submit" name="submit">Submit</button>
</form></h1>
